@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300);
* { margin:0; padding:0; box-sizing:border-box; }

body {
    background-color: #EDEDED;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    color: rgba(0,0,0,.87);
    font-family: 'Merriweather', serif;
    font-weight:300;
}

header img{
    width: 200px;
    padding-left: 0.8em;
    display: block;
    float:left;
}

nav {
    float:right;
}

nav a {
    float:left;
    margin:1em;
    padding:1em;
    color: rgb(156,219,159);
    text-decoration:none;
}

section#splash {
    font-style: normal;
    background: #222;
    height: 85vh;
    position:relative;
    text-align: center;
    z-index: -1;
}

section#splash .scroll {
	position:absolute;
	bottom:2em;
	left:50%;
	transform:translateX(-50%);
}

section#splash p {
    color: rgb(230, 100, 90);
}

section#services {
    background-color: #EDEDED;
    padding: 5px 0;
    margin: 0 0 0 10px;
}

section#about {
    text-align: left;
    background: purple;
}

section#contact {
    padding: 1em;
}

h1 {
    padding-top: 15em;
    padding-bottom: 0px;
    padding-left: 1.2em;
    font-size: 1.25em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    color: rgb(156,219,159);
    line-height: 1.2;
}

h1 span {
    display:block;
}

h2 {
    padding-top: 1.2em;
    text-align: center;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size:2em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    color: #E6645A;
    text-align: center;
}

p {
    font-size: 1em;
    text-align: center;
     margin:1em auto 0;
     width:40em;
}

a {
    text-align: center;
    display: block;
}
hr {
    margin:1em auto;
    width: 500px;
    border: #595457 1px solid;
}

.gray {
    font-family: 'Open Sans', sans-serif;
    font-size: 3.5em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 12px;
    color: #EDEDED;
}

.two-columns {
    float: left;
    width: 50%;
    height: 500px;
    padding: 2em 5em;
    margin-bottom: 2em;
}

.image-wrapper {
    width:300px;
    height: 300px;
    margin: 0 auto 1em;
    padding: 1em 1.5em;
}

.image-wrapper img {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 2em 0em;
}

.column {
    float: left;
}

#headshot {
    display: block;
    margin: 30px auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "services";
    clear: both;
    height: 0;
}

footer {
    padding: 2em 5em;
}
