* { margin:0; padding:0; box-sizing:border-box; }
body {
    background-color: rgb(255,188,157);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    color: #40444;
}
nav {
    float:right;
}
nav a {
    float:left;
    margin:1em;
    padding:1em;
    color:#fff;
    text-decoration:none;
}
section#splash {
    background: #222;
    height: 95vh;
    height: 85vh;
    position:relative;
    text-align: center;
    z-index: -1;
}
section#splash .scroll {
	position:absolute;
	bottom:4em;
	left:50%;
	transform:translateX(-50%);
}
section#splash p {
    color: rgb(230, 100, 90);
}
h1 {
    padding-top: 10em;
    padding-bottom: 0px;
    padding-left: 1.2em;
    font-size: 26px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    color: rgb(156,219,159);
    line-height: 1;
}
h1 span {
    display:block;
    line-height: 1.2em;
}
h2 {
    padding-top: 1.2em;

}
.gray {
    font-family: "Open Sans";
    font-size: 71px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 11px;
    color: #595457;
}

section #services {
    background-color: rgb(191,180,187);
}

section #services p {
    position: center;
}
h3 {
    font-family: "Open Sans";
    font-size: 43px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    color: #E6645A;
    text-align: center;
}
	
h4 {
       margin-top: 0px;
       padding-top: 95px;
       padding-bottom: 0px;
       font-size: 27px;
       font-style: normal;
       font-variant: normal;
       font-weight: normal;
       line-height: 1;
       color: rgba(0,0,0,.54);
       text-align: center;
}
p {
    margin-top:1em
}	
a {text-align: center;
    display: block;
}
hr {
    margin:1em auto;
    width: 500px;
    border: #595457 1px solid;
}
header img{
    width: 200px;
    display: block;
    float:left;
}
#me {
    margin-top: 30px;
}
